<div class="container">
    <div class="col-6 col-xl-4 offset-md-4 bg-primary" style="margin-top: 50px;">
      <h1 class="text-center text-white" style="padding: 20px 20px 20px 20px;">
        Form Login Admin
      </h1>
    </div>
    <div
      class="col-6 col-md-4 offset-md-4 bg-secondary"
      style="padding: 20px 20px 20px 20px;"
    >
      <form class="text-white" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="form-control"
            placeholder="Masukkan E-mail"
            [ngClass]="{ 'is-invalid': submitted && flogin.email.errors }"
          />
          <div *ngIf="submitted && flogin.email.errors" class="invalid-feedback">
            <div *ngIf="flogin.email.errors.required">
              Email tidak boleh kosong
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            formControlName="password"
            type="password"
            id="password"
            class="form-control"
            placeholder="Masukkan Password"
            [ngClass]="{ 'is-invalid': submitted && flogin.password.errors }"
          />
          <div
            *ngIf="submitted && flogin.password.errors"
            class="invalid-feedback"
          >
            <div *ngIf="flogin.password.errors.required">
              Password tidak boleh kosong
            </div>
          </div>
        </div>
        <button type="submit" value="login" class="btn btn-primary" style="margin-right: 20px; min-width: 80px;">
          Login
        </button>
      </form>
    </div>
</div>
  

   <!-- <p *ngFor="let data of datas">
    {{data}}
   </p> -->